<div class="flex">
  <div class="max-w-md">
    <!-- <form method="GET" action="{% url 'crypto_list' %}">
      <input type="text" id="search" name="search" placeholder="예: KRW-BTC">
      <button type="submit">검색</button>
    </form> -->
    <!-- <h2>BTC 현재 가격: {{ btc_price }} KRW</h2>
    <ul>
      {% for market in markets %}
          <li>{{ market }}</li>
      {% endfor %}
    </ul> -->
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% else %}
        <!-- <ul>
            {% for market, price in prices.items %}
                <li>{{ market }}: {{ price }} KRW</li>
            {% endfor %}
        </ul> -->
        <!-- 검색창 -->
      <div class="mb-4">
        <input
            type="text"
            placeholder="검색어를 입력해주세요."
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
    </div>
  
    <!-- 상단 탭 -->
    <div class="mb-4 flex space-x-4">
        <button class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">
            전체보기
        </button>
        <button class="px-4 py-2 bg-gray-200 text-gray-700 rounded-lg hover:bg-gray-300">
            변동이 높은 가상화폐
        </button>
        <button class="px-4 py-2 bg-gray-200 text-gray-700 rounded-lg hover:bg-gray-300">
            인기있는 가상화폐
        </button>
    </div>
  
    <!-- 테이블 -->
    <div class="overflow-x-auto bg-white shadow-md rounded-lg">
        <table class="min-w-full table-auto border-collapse border border-gray-300">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-4 py-2 text-left font-bold text-gray-600">가상화폐 명</th>
                    <th class="px-4 py-2 text-left font-bold text-gray-600">현재가</th>
                    <th class="px-4 py-2 text-left font-bold text-gray-600">변동폭</th>
                </tr>
            </thead>
            <tbody>
                <!-- 예시 데이터 -->
                {% for data in market_data %}
                  <tr class="border-b hover:bg-gray-100">
                      <td class="px-4 py-2">
                          <span class="font-medium text-gray-900">{{ data.korean_name }}</span>
                          <br />
                          <span class="text-sm text-gray-500">{{ data.english_name }}</span>
                      </td>
                      <td class="px-4 py-2 font-semibold text-gray-700">{{ data.current_price|floatformat:0 }} KRW</td>
                      <td class="px-4 py-2 {% if data.change_rate > 0 %}text-green-500{% else %}text-red-500{% endif %} font-semibold">
                          {{ data.change_rate|floatformat:2 }}%
                      </td>
                  </tr>
                  {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
  </div>
  <div>
      
  </div>
</div>